.controls {
    width: 400px;
}

.but {
    border: none;
    color: rgb(223, 223, 223);
    padding: 15px 16px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/**
#tickmarks {
    display: inline-flex;
    width: 300px;
}
**/

.off {
    background-color: #4CAF50;
    float: left;
}

.on {
    background-color: #008CBA;
    float: right;
}


.upd {
    background-color: peru;
    font-size: 10px;
    float: left;
}

.rst {
    background-color: peru;
    font-size: 10px;
    float: right;
}

.bright {
    width: 95%;
}

.fld {
    width: 300px;
    background-color: lightgray;
}

.boot {
    font-size: xx-small;
    float: right;
    font-family: 'Courier New', Courier, monospace;
}

footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 15px;
}
